<div>
 <h2 style="background-color: rgba(255, 145, 186, 1)">Bar Chart</h2>
 
 <ngbd-modal-component></ngbd-modal-component>

 <button class="btn btn-primary" (click)="splitByDate()">split by date</button> 
 <button class="btn btn-danger disabled" (click)="splitByDay()">split by day</button>

 <div style="width:100%;">
    <select [(ngModel)]="selectedDuration" (change)="onSelectedDurationChange()">
      <option *ngFor="let duration of durations" [ngValue]="duration"> {{duration.label}} </option>
    </select>
    Today is: {{ currentDate | date : 'dd/MM/yyyy' }} | Selected Duration is :  {{selectedDuration.value}}  <br/>
    <a href="javascript: void(0)" (click)="goBack()"> Back </a> <br/> <br/>
    <a href="javascript: void(0)" (click)="goTop()"> Top </a>
    <canvas id="barChart" baseChart class="chart-js-render-monitor" style="display:block;"></canvas>
  </div>

</div>